<a href="https://colab.research.google.com/github/elizabethts/DS5-kaggle-scalar-coupling/blob/master/notebooks/Chance's_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install kaggle
!mkdir .kaggle

import json
token = {"username":"","key":""}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)
    
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v{/content}

!chmod 600 /root/.kaggle/kaggle.json


!kaggle competitions download -c champs-scalar-coupling

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [0]:
import pandas as pd
train = pd.read_csv('/content/{/content}/competitions/champs-scalar-coupling/train.csv.zip')

In [0]:
train.head()

   id     molecule_name  ...  type  scalar_coupling_constant
0   0  dsgdb9nsd_000001  ...  1JHC                   84.8076
1   1  dsgdb9nsd_000001  ...  2JHH                  -11.2570
2   2  dsgdb9nsd_000001  ...  2JHH                  -11.2548
3   3  dsgdb9nsd_000001  ...  2JHH                  -11.2543
4   4  dsgdb9nsd_000001  ...  1JHC                   84.8074

[5 rows x 6 columns]

In [0]:
train['element_bond'] = train['type'].str[2:]
train['J'] = train['type'].str[:2]

In [28]:
train.head()

   id     molecule_name  ...  element_bond   J
0   0  dsgdb9nsd_000001  ...            HC  1J
1   1  dsgdb9nsd_000001  ...            HH  2J
2   2  dsgdb9nsd_000001  ...            HH  2J
3   3  dsgdb9nsd_000001  ...            HH  2J
4   4  dsgdb9nsd_000001  ...            HC  1J

[5 rows x 8 columns]

In [0]:
sample_sub = pd.read_csv('/content/{/content}/competitions/champs-scalar-coupling/sample_submission.csv.zip')

In [30]:
sample_sub.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0