In [2]:
import numpy as np
import pandas as pd

In [8]:
# uncomment the line below if you get 'OS Error: failed to load'

# !chmod 777 ../Data/train.csv
# !chmod 777 ../Data/test.csv

# Train & Test

In [9]:
# get train and test sets
train = pd.read_csv('../Data/train.csv')
test = pd.read_csv('../Data/test.csv')

In [10]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [11]:
test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

# Dipole Moments

In [17]:
# get the data

!chmod 777 ../Data/dipole_moments.csv
moments = pd.read_csv('../Data/dipole_moments.csv')

In [14]:
print(moments.shape)
moments.head()

(85003, 4)

      molecule_name       X    Y       Z
0  dsgdb9nsd_000001  0.0000  0.0  0.0000
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511
3  dsgdb9nsd_000005  0.0000  0.0 -2.8937
4  dsgdb9nsd_000007  0.0000  0.0  0.0000

In [32]:
# dipole magnitude
moments['magnitude'] = True
moments['magnitude'] = np.sqrt(moments['X']**2 + moments['Y']**2 + moments['Z']**2)

moments.head(10)

      molecule_name       X       Y       Z  magnitude
0  dsgdb9nsd_000001  0.0000  0.0000  0.0000   0.000000
1  dsgdb9nsd_000002 -0.0002  0.0000  1.6256   1.625600
2  dsgdb9nsd_000003  0.0000  0.0000 -1.8511   1.851100
3  dsgdb9nsd_000005  0.0000  0.0000 -2.8937   2.893700
4  dsgdb9nsd_000007  0.0000  0.0000  0.0000   0.000000
5  dsgdb9nsd_000008  0.6506 -1.3801 -0.0002   1.525764
6  dsgdb9nsd_000009  0.7156  0.0004 -0.0004   0.715600
7  dsgdb9nsd_000010  3.8266  0.0000 -0.0001   3.826600
8  dsgdb9nsd_000011  2.3605  1.0119  0.0004   2.568249
9  dsgdb9nsd_000012 -3.6612  0.7058  0.0009   3.728611

# Magnetic Shielding Tensors

In [16]:
!chmod 777 ../Data/magnetic_shielding_tensors.csv
shielding_tensors = pd.read_csv('../Data/magnetic_shielding_tensors.csv')

In [19]:
print(shielding_tensors.shape)
shielding_tensors.head()

(1533537, 11)

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

# Mulliken Charges

In [21]:
!chmod 777 ../Data/mulliken_charges.csv
m_charges = pd.read_csv('../Data/mulliken_charges.csv')

In [22]:
print(m_charges.shape)
m_charges.head()

(1533537, 3)

      molecule_name  atom_index  mulliken_charge
0  dsgdb9nsd_000001           0        -0.535689
1  dsgdb9nsd_000001           1         0.133921
2  dsgdb9nsd_000001           2         0.133922
3  dsgdb9nsd_000001           3         0.133923
4  dsgdb9nsd_000001           4         0.133923

In [23]:
# has atom index

# Potential Energy

In [24]:
!chmod 777 ../Data/potential_energy.csv
p_energy = pd.read_csv('../Data/potential_energy.csv')

In [25]:
print(p_energy.shape)
p_energy.head()

(85003, 2)

      molecule_name  potential_energy
0  dsgdb9nsd_000001         -40.52368
1  dsgdb9nsd_000002         -56.56025
2  dsgdb9nsd_000003         -76.42608
3  dsgdb9nsd_000005         -93.42849
4  dsgdb9nsd_000007         -79.83869

# Scalar Coupling Contributions

In [26]:
!chmod 777 ../Data/scalar_coupling_contributions.csv
coupling_contributions = pd.read_csv('../Data/scalar_coupling_contributions.csv')

In [27]:
print(coupling_contributions.shape)
coupling_contributions.head()

(4658147, 8)

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

# Structures

In [28]:
!chmod 777 ../Data/structures.csv
structures = pd.read_csv('../Data/structures.csv')

In [29]:
print(structures.shape)
structures.head()

(2358657, 6)

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [30]:
# has amount of atoms in molecule

# QM7

# QM9